@using CultureDemo.Languages

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Resources.Welcome</h1>
    <p>@Resources.HomeIndexWelcomeMessage</p>
</div>
