@using CultureDemo.Languages

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">@Resources.Home_WelcomeTitle_Header</h1>
    @Html.Raw(@Resources.Home_WelcomeMessage_Paragraph)
</div>
